<section class="table">
    <div class="container">
        <div class="table__inner">
            <div class="table__header">
                <div class="table__row-title">
                    <h5 class="table__row-title-text">Рішення QB tools</h5>
                </div>
                <div class="table__row-checkmark">
                    <h5 class="table__checkmark-title">Standart</h5>
                    <p class="table__checkmark-price-month">520 <span class="span">грн / місяць</span></p>
                    <p class="table__checkmark-price-year">5 200 <span class="span">грн / рік</span> <span
                            class="sale">-15%</span></p>
                </div>
                <div class="table__row-checkmark">
                    <h5 class="table__checkmark-title">Smart</h5>
                    <p class="table__checkmark-price-month">1 990 <span class="span">грн / місяць</span></p>
                    <p class="table__checkmark-price-year">19 990 <span class="span">грн / рік</span> <span
                            class="sale">-15%</span></p>
                </div>
                <div class="table__row-checkmark">
                    <h5 class="table__checkmark-title">Professional</h5>
                    <p class="table__checkmark-price-month">2 490 <span class="span">грн / місяць</span></p>
                    <p class="table__checkmark-price-year">24 900 <span class="span">грн / рік</span> <span
                            class="sale">-15%</span></p>
                </div>
            </div>
            <div class="table__body">
                <div class="table__col">
                    <div class="table__col-title">QR код All in One</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Сервіс зворотного зв’язку QR BOSS</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Сайт для замовлень з оплатою Apple Pay та Google Pay</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Online-меню</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Виклик офіціанта</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Оренда мобільного додатку для замовлень і лояльності</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-gray.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Додаток кур’єра QB Courier</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Додаток для співробітників QB tools</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
                <div class="table__col">
                    <div class="table__col-title">Iнтеграція з POS системами (Poster, Syrve (iiko), R-keeper
                        та інші). Синхронізація меню, замовлень, оплат</div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                    <div class="table__col-checkmark">
                        <img src="/images/table/chek-orange.png" alt="" class="checkmark-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>